* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #3F0B8E;
    height: 100px;
    color: white;

}

main {
    overflow-x: hidden;
    background-color: #FF5DDC;
}

.leftnav {
    position: relative;
    display: flex;
    margin-top: 30px;
}

.leftnav h3:nth-child(1) {
    position: relative;
    left: 50px;
    font-weight: 900;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.leftnav h3:nth-child(2) {
    position: relative;
    left: 100px;
    font-weight: 900;
    font-size: 20px;

}

.centernav h1 {
    color: white;
    font-size: 35px;
    font-weight: 900;
    margin-top: 20px;
}

.rightnav {
    position: relative;
    display: flex;
    margin-top: 30px;
}

.rightnav h3:nth-child(2) {
    position: relative;
    right: 70px;
    font-weight: 900;
    font-size: 20px;
}

.rightnav h3:nth-child(1) {
    position: relative;
    right: 120px;
    font-weight: 900;
    font-size: 20px;
}

.page1 {
    max-height: calc(100vh - 100px);
    background-color: #FFEA00;
}

.centertext h1 {
    color: #3F0B8E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 150px;
    text-align: center;
    position: relative;
    top: 70px;
}

.centertext .belowtext {
    position: relative;
    top: 5px;
    left: 5px;
}

.ordernow {
    padding: 15px 25px;
    border: 3px solid #3F0B8E;
    border-radius: 40px;
    background-color: #FF5DDC;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 1000;
    position: relative;
    ;
    left: 600px;
}

.Menu {
    padding: 15px 35px;
    border: 3px solid #3F0B8E;
    border-radius: 40px;
    background-color: #ffff;
    color: #FF5DDC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 1000;
    position: relative;
    left: 610px;
}

.centertext h4 {
    text-align: center;
    color: #3F0B8E;
    font-size: 20px;
    margin-top: 35px;
}

.taco1 {
    border-radius: 15px;
    width: 200px;
    position: relative;
    top: -300px;
    left: 30px;
}

.taco2 {
    border-radius: 15px;
    width: 200px;
    position: relative;
    top: -550px;
    left: 1100px;
}

.taco3 {
    border-radius: 15px;
    width: 200px;
    position: relative;
    top: -160px;
    left: 600px;
}

.page2 {
    height: 10vh;
    background-color: #FF5DDC;
    display: flex;
    gap: 100px;
    /* grid-template-columns: .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr; */
    white-space: nowrap;
    /* Prevents wrapping of flex items */
    animation-name: moveee;
    animation-duration: 3s;
    /* Adjust speed as desired */
    animation-timing-function: linear;
    /* Ensures constant speed */
    animation-iteration-count: infinite;
    /* Loops indefinitely */
    align-items: center;
    /* Vertically centers the squares */
}

.gola1 {
    top: 1px;
    left: 55px;
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    position: relative;
    border-radius: 5px;
    background-color: #3F0B8E;
    flex-shrink: 0
}

@keyframes moveeee {
    0% {
        transform: translateX(0);
    }

    100% {
        /* This value moves one square plus its gap. */
        /* If .gola4 is 25px wide and gap is 100px, total shift is 125px. */
        transform: translateX(calc(-25px - 100px));
    }
}

.page3 {
    height: 164.5vh;
    background-color: #3F0B8E;

}

.right {
    position: relative;
    top: -850px;
    left: 950px;
    color: #FFEA00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.left {
    position: relative;
    top: -850px;

    color: #FFEA00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.taco4 {
    height: 1200px;
}

.taco5 {
    height: 1200px;
    position: relative;
    right: -740px;
}

.right h1 {
    position: relative;
    left: -0px;
    font-size: 7vw;
}

.right .bottom {
    position: relative;
    top: -40px;
    left: 40px;
}

.right h4 {
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    left: -500px;
}

.menubtn {
    padding: 15px 35px;
    border: 3px solid #FFEA00;
    border-radius: 40px;
    background-color: transparent;
    color: #FFEA00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 1000;
    position: relative;
    top: 50px;
    left: 150px;

}

.page4 {
    height: 10vh;
    background-color: #FF5DDC;
    display: flex;
    gap: 100px;
    /* grid-template-columns: .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr; */
    white-space: nowrap;
    /* Prevents wrapping of flex items */
    animation-name: movee;
    animation-duration: 3s;
    /* Adjust speed as desired */
    animation-timing-function: linear;
    /* Ensures constant speed */
    animation-iteration-count: infinite;
    /* Loops indefinitely */
    align-items: center;
    /* Vertically centers the squares */
}

.gola2 {
    top: 5px;
    left: 55px;
    height: 30px;
    width: 30px;
    /* transform: rotate(45deg); */
    position: relative;
    border-radius: 5px;
    background-color: #3F0B8E;
    flex-shrink: 0
}

@keyframes moveee {
    0% {
        transform: translateX(0);
    }

    100% {
        /* This value moves one square plus its gap. */
        /* If .gola4 is 25px wide and gap is 100px, total shift is 125px. */
        transform: translateX(calc(-25px - 100px));
    }
}

.left h1 {
    position: relative;
    left: 170px;
    font-size: 7vw;
    color: #FFEA00;
    top: -50px;
}

.left .bottom {
    position: relative;
    left: 158px;
    top: -90px;
    color: #FFEA00;
}

.left h4 {
    top: -50px;
    margin-left: 180px;
    color: #FFEA00;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    left: -485px;
}

.orderbtn {
    padding: 15px 35px;
    border: 3px solid #FFEA00;
    border-radius: 40px;
    background-color: transparent;
    color: #FFEA00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 1000;
    position: relative;
    top: 0px;
    left: 250px;
}

.page5 {
    height: 10vh;
    background-color: #FF5DDC;
    display: flex;
    gap: 100px;
    /* grid-template-columns: .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr; */
    white-space: nowrap;
    /* Prevents wrapping of flex items */
    animation-name: movee;
    animation-duration: 3s;
    /* Adjust speed as desired */
    animation-timing-function: linear;
    /* Ensures constant speed */
    animation-iteration-count: infinite;
    /* Loops indefinitely */
    align-items: center;
    /* Vertically centers the squares */
}

.gola3 {
    top: 3px;
    left: 55px;
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    position: relative;
    border-radius: 5px;
    background-color: #FFEA00;
    flex-shrink: 0;
    /* Prevents squares from shrinking */
}

@keyframes movee {
    0% {
        transform: translateX(0);
    }

    100% {
        /* This value moves one square plus its gap. */
        /* If .gola4 is 25px wide and gap is 100px, total shift is 125px. */
        transform: translateX(calc(-25px - 100px));
    }
}

.belowERtext {
    position: relative;
    margin-top: -50px;
}

.centerertext {
    /* border: 2px solid green; */
    position: relative;
    top: 100px;
}

.centerertext h1 {
    color: #3F0B8E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 90px;
    text-align: center;
    position: relative;
    top: 80px;
}

.centerertext .belowtext {
    position: relative;
    top: 50px;
    left: 5px;
}

.page6 {
    height: 90vh;
    background-color: #FFEA00;
}

.taco6 {
    width: 200px;
    border-radius: 20px;
    position: relative;
    top: -450px;
    left: 50px;
}

.taco8 {
    width: 300px;
    position: relative;
    top: 350px;
    left: 700px;
}

.taco7 {
    width: 200px;
    border-radius: 20px;
    position: relative;
    left: 1000px;
    top: -150px;
}

.menubody {
    background-color: #FF5DDC;
}

/* ... (your existing CSS for other elements) ... */

/* ... (your existing CSS for other elements) ... */

/* ... (your existing CSS for other elements) ... */
.pagenew {
    height: 10vh;
    background-color: #FF5DDC;
    display: flex;
    gap: 100px;
    overflow-x: hidden;
    /* overflow: hidden; This is crucial to hide elements outside the container */
    white-space: nowrap;
    /* Prevents wrapping of flex items */
    animation-name: move;
    animation-duration: 3s;
    /* Adjust speed as desired */
    animation-timing-function: linear;
    /* Ensures constant speed */
    animation-iteration-count: infinite;
    /* Loops indefinitely */
    align-items: center;
    /* Vertically centers the squares */
}
.menubody{
    background-color: white;
}
.page7 {
    height: 10vh;
    background-color: #FF5DDC;
    display: flex;
    gap: 100px;
    /* overflow: hidden; This is crucial to hide elements outside the container */
    white-space: nowrap;
    /* Prevents wrapping of flex items */
    animation-name: move;
    animation-duration: 3s;
    /* Adjust speed as desired */
    animation-timing-function: linear;
    /* Ensures constant speed */
    animation-iteration-count: infinite;
    /* Loops indefinitely */
    align-items: center;
    /* Vertically centers the squares */
}

.gola10 {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #502690;
    flex-shrink: 0;
    /* Prevents squares from shrinking */
}
.newerhat{
    width: 200px;
    position: relative;
    top: -900px;
    left: 290px;
}
.taco9 {
    width: 300px;
    position: relative;
    top: 150px;
    z-index: 999;
    left: 1100px;
}
.mainelem{
    background-color: white;
    /* height: 150vh; */
    position: relative;
}
.fooditems{
    background-color: white;
    /* position: absolute; */
}
.gola4 {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #3F0B8E;
    flex-shrink: 0;
    /* Prevents squares from shrinking */
}

/* Keyframes for the 'move' animation */
@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        /* This value moves one square plus its gap. */
        /* If .gola4 is 25px wide and gap is 100px, total shift is 125px. */
        transform: translateX(calc(-25px - 100px));
    }
}


.page8 {
    height: 90vh;
    width: 100vw;
    background-color: #3F0B8E;
}

.page8 h1 {
    color: #FFEA00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8vw;
    position: relative;
    left: 80px;
    top: 50px;
}

.niche {
    position: absolute;
    margin-top: -40px;
}
.pagenew{
    background-color: white;
}
.pages {
    list-style: none;
    position: relative;
    top: 150px;
    left: 85px;
}

.hours {
    list-style: none;
    position: relative;
    top: 90px;
    left: 385px;
}

.address {
    list-style: none;
    position: relative;
    top: 10px;
    left: 785px;
}

.terms {
    list-style: none;
    position: relative;
    top: -120px;
    left: 1105px;
}

.pages a {
    text-decoration: none;
    color: #FFEA00;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.terms a {
    text-decoration: none;
    color: #FFEA00;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.hours .active {
    text-decoration: none;
    color: #FFEA00;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;

}

.hours a {
    text-decoration: none;
    color: #FFEA00;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.address .active {
    text-decoration: none;
    color: #FFEA00;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;

}

.address a {
    text-decoration: none;
    color: #FFEA00;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.belownav {
    width: 100vw;
    background-color: #FF5DDC;
    height: 60px;
}

.sel {
    background-color: #FF5DDC;
    border-style: none;
    padding: 15px;
    /* border: 2px solid; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    position: relative;
    /* top: 35px; */
    left: 30px;
    font-size: large;
}

.hr {
    border: 1px solid #3F0B8E;
    position: relative;
    top: -27px;
    width: 30px;
    transform: rotate(90deg);
    left: 160px;
}

.belownav h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -42px;
    left: 220px;
    font-size: large;
    font-weight: 900;
}

.menubody {
    overflow-x: hidden;
}
.mainelem h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
    color: #3F0B8E;
    font-weight: 900;
    position: relative;
    top: 30px;
    left: 50px;
}

.mainelem h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    color: #3F0B8E;
    font-weight: 900;
    position: relative;
    top: 60px;
    left: 50px;
}

.itemdisplay {
    /* border: 3px solid black; */
    position: relative;
    top: 80px;
    display: grid;
    grid-template-columns: .3fr .3fr .3fr .3fr .3fr;
    left: 20px;
}

.itemcontainer {
    border: 2px solid #3F0B8E;
    height: 150px;
    width: 250px;
    border-radius: 20px;
    background-color: #FFEA00;
    margin-left: 10px;
    margin-bottom: 30px;
}

.itemcontainer h4 {
    color: #3F0B8E;
    font-size: large;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 10px;
}

.itemcontainer h5 {
    color: #3F0B8E;
    font-size: medium;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 25px;
    left: 10px;
}

.money {
    color: #3F0B8E;
    font-size: medium;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    margin-top: 40px;
    font-size: large;
    margin-left: 100px;
}

.fooddis {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
    color: #3F0B8E;
    font-weight: 900;
    position: relative;
    top: 100px;
    left: 50px;
}

.fooditems h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
    color: #502690;
    font-weight: 900;
    position: relative;
    top: 90px;
    left: 50px;
}

.itemdisplayfood {
    position: relative;
    top: 110px;
    display: grid;
    grid-template-columns: .3fr .3fr .3fr .3fr .3fr;
    left: 30px;
}

.itemcontainerfood {
    border: 2px solid #3F0B8E;
    height: 150px;
    width: 250px;
    border-radius: 20px;
    background-color: #FFEA00;
    margin-left: 10px;
    margin-bottom: 30px;
}

.itemcontainerfood h4 {
    color: #3F0B8E;
    font-size: large;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 10px;
    left: 20px;
}

.itemcontainerfood h5 {
    color: #3F0B8E;
    font-size: medium;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 20px;
    left: 10px;
}

.pagenew {
    top: 100px;
    position: relative;
    height: 10vh;
    /* background-color: #FF5DDC; */
    /* display: grid; */
    /* grid-template-columns: .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr .3fr; */
    overflow-y: auto;
    display: flex;
    gap: 100px;
}

.pageenndd {
    top: -200px;
    position: relative;
    height: 90vh;
    width: 100vw;
    background-color: #3F0B8E;
}
.menubody{
    max-height: 200vh;
}
.pageenndd h1 {
    color: #FFEA00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8vw;
    position: relative;
    left: 80px;
    top: 50px;
}

.mainbody {
    height: 55vh;
    width: 100vw;
    background-image: url("https://static.wixstatic.com/media/11062b_ce3458f81a3e496b8440378bc649802c~mv2.jpg/v1/fill/w_1640,h_500,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Mexican%20Taco%20Dinner.jpg");
    image-resolution: initial;
    position: relative;
    /* top: -100px; */
}

.page10 {
    background-color: #FFEA00;
    height: 50vh;
    width: 100vw;
}

.page10 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3F0B8E;
    font-size: 4.5vw;
    font-weight: 900;
    position: relative;
    left: 50px;
}

.page10 h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3F0B8E;
    font-size: 1.2vw;
    font-weight: 500;
    position: relative;
    left: 55px;
    top: 15px;
}

.online {
    height: 40px;
    width: 170px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    left: 55px;
    top: 40px;
}

.inside {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: small;
    position: relative;
    /* top: 9px; */
    left: 45px;
}

.green {
    height: 10px;
    width: 10px;
    background-color: rgb(37, 179, 37);
    border-radius: 50%;
    position: relative;
    top: 15px;
    left: 17px;
}

.pickup {
    height: 50px;
    width: 180px;
    position: relative;
    top: 70px;
    left: 55px;

    background-color: #3F0B8E;
    color: white;
    border: 2px solid #FF5DDC;
    cursor: pointer;
}

.orderonline {
    height: 50px;
    width: 180px;
    position: relative;
    top: 70px;
    left: 55px;

    background-color: #ffff;
    color: #3F0B8E;
    border: 2px solid #0000;
    cursor: pointer;
}

.orderss {
    overflow-x: hidden;
}

.details {
    color: #502690;
    font-size: medium;
    /* top: 100px; */
    position: relative;
    top: 97.5px;
    left: 90px;
}

.anotherdetails {
    color: #502690;
    font-size: medium;
    /* top: 100px; */
    position: relative;
    top: 50px;
    left: 430px;
}

.clock {
    position: relative;
    top: 140px;
    left: -315px;
}

.location {
    position: relative;
    top: 76px;
    left: 400px;
}

.orderro {
    margin-left: 40px;
}
